<nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="index.html">Smart<span>Piggy</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="index.html">Who we are?</a></li>
                        <li><a href="#">Why us?</a></li>
                        <li class="has-dropdown">
                            <a>Things to do</a>
                            <ul class="dropdown">
                                <li><a href="/save-more">Save</a></li>
                                <li><a href="#">Invest</a></li>
                                <li><a href="#">Buy or not?</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact us</a></li>
                        <%if (user) { %>
                            <li class="btn-cta"><a href="/users/logout"><span>Logout</span></a></li>
                            <% } else{ %> 
                                <li class="btn-cta"><a href="/users/login"><span>Login</span></a></li>
                            <% } %>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>