<% include ./partials/navigation-bar %>

<!-- 
<div class="chart"></div>

<script>
        $(document).ready(function () {
debugger;
        var myData = [{
          "id": 1,
          "text": "Are you interested in the new position you are applying to?",
          "start": true,
          "answers": [
            {
              "text": "Yes",
              "link": 2,
              "class": "decision-success"
            }, {
              "text": "No",
              "link": 3,
              "class": "decision-error"
            }
          ]
        }, {
          "id": 2,
          "text": "Great, moving to next question..",
          "informative": true,
          "link": 4
        }, {
          "id": 3,
          "text": "OK, great to see you, have a nice day!",
          "finish": true,
        }, {
          "id": 4,
          "text": "Do you think your skills are a good fit for the new role?",
          "answers": [
            {
              "text": "Yes",
              "link": 5,
              "class": "decision-success"
            }, {
              "text": "No",
              "link": 6,
              "class": "decision-error"
            }
          ]
        }, {
          "id": 5,
          "text": "Great, are you willing to start right away?",
          "answers": [
            {
              "text": "Yes",
              "link": 7,
              "class": "decision-success"
            }, {
              "text": "No",
              "link": 8,
              "class": "decision-error"
            }
          ]
        }, {
          "id": 6,
          "text": "That's ok, life is a continuous learning journey..",
          "informative": true,
          "link": 9,
        }, {
          "id": 7,
          "text": "Welcome onboard, we are thrilled to have you!",
          "finish": true,
        }, {
          "id": 8,
          "text": "Thank you for your time, let us know when you are ready!",
          "informative": true,
          "finish": true,
        }, {
          "id": 9,
          "text": "Are you willing to learn the skills required for the new role?",
          "answers": [
            {
              "text": "Yes",
              "link": 7,
              "class": "decision-success"
            }, {
              "text": "No",
              "link": 10,
              "class": "decision-error"
            }
          ]
        }, {
          "id": 10,
          "text": "We are sorry to hear that, such a waste of a good bunch of neurons!",
          "finish": true,
        }
        ]
        $('.chart').simpleflowchart({ data: myData });
    })
      </script>
 -->

 <div class="row headlineText animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Spend More for High Quality or Buy Cheap to Save Money</h2>
          <p>Choose one of the following categories below, and we'll help you choose wisely.</p>
        </div>
      </div>
 <div id="fh5co-features">
     
		<div class="container">
            
			<div class="services-padding">
				<div class="row">
                    
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
                                    <img src="../public/images/cloth.png" alt="avatar" class="rounded-circle img-responsive">							</span>
							<div class="feature-copy">
								<h3>Clothing</h3>
								<p>It pays to spend more for quality when buying clothes. The better made a garment is, whether it’s jeans... </p>
								<p><a href="categories/clothing">Learn More <i class="fa fa-arrow-right"></i></a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
                                <img src="../public/images/shoe.png" alt="avatar" class="rounded-circle img-responsive">
							</span>
							<div class="feature-copy">
								<h3>Shoes</h3>
								<p>Every other summer, I head over to Old Navy or Target and slap down $2 for a pair of plastic flip-flops.</p>
								<p><a href="categories/under-construction">Learn More  <i class="fa fa-arrow-right"></i></a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
                                    <img src="../public/images/watch.png" alt="avatar" class="rounded-circle img-responsive">							</span>
							</span>
							<div class="feature-copy">
								<h3>Watches</h3>
								<p>My watch cost $50. I can’t remember when I got it, but I’ve had it for several years.</p>
								<p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 animate-box">

						<div class="feature-left">
							<span class="icon">
                                    <img src="../public/images/eyeglasses.ico" alt="avatar" class="rounded-circle img-responsive">							</span>
							</span>
							<div class="feature-copy">
								<h3>Eyeglasses</h3>
								<p>Depending on where you buy your frames and lenses, the average cost of a pair of eyeglasses can be around $300.</p>
								<p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
							</div>
						</div>

					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
                                    <img src="../public/images/foodbev.png" alt="avatar" class="rounded-circle img-responsive">							</span>
							</span>
							<div class="feature-copy">
								<h3>Food and Beverages</h3>
								<p>Like clothing, the price of certain types of food and beverages don’t often reflect the quality found within.</p>
								<p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
                                    <img src="../public/images/cosmetics.png" alt="avatar" class="rounded-circle img-responsive">							</span>
							</span>
							<div class="feature-copy">
								<h3>Cosmetics and Personal Care</h3>
								<p>When you spend $30 on a lipstick versus $5, are you paying for better ingredients and a better formulation?</p>
								<p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
							</div>
						</div>
					</div>
                </div>
                

                <div class="row">
                    
                        <div class="col-md-4 animate-box">
                            <div class="feature-left">
                                <span class="icon">
                                        <img src="../public/images/cleaners.png" alt="avatar" class="rounded-circle img-responsive">							</span>
                                <div class="feature-copy">
                                    <h3>Cleaners</h3>
                                    <p>One of the joys of being an adult is getting to clean your home. The type of cleaning products you...</p>
                                    <p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4 animate-box">
                            <div class="feature-left">
                                <span class="icon">
                                    <img src="../public/images/furniture.png" alt="avatar" class="rounded-circle img-responsive">
                                </span>
                                <div class="feature-copy">
                                    <h3>Furniture</h3>
                                    <p>Whether you splurge or save on furniture comes down to what stage of your life you are in...</p>
                                    <p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
                                </div>
                            </div>
    
                        </div>
                        <div class="col-md-4 animate-box">
                            <div class="feature-left">
                                <span class="icon">
                                        <img src="../public/images/cookware.png" alt="avatar" class="rounded-circle img-responsive">							</span>
                                </span>
                                <div class="feature-copy">
                                    <h3>Cookware</h3>
                                    <p>When it comes to buying cookware, it pays to look for quality first. Years ago, my partner purchased a ...</p>
                                    <p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="row">
                        <div class="col-md-4 animate-box">
    
                            <div class="feature-left">
                                <span class="icon">
                                        <img src="../public/images/home-appliance.png" alt="avatar" class="rounded-circle img-responsive">							</span>
                                </span>
                                <div class="feature-copy">
                                    <h3>Appliances and Electronics</h3>
                                    <p>When buying appliances, such as a refrigerator or stove, or other electronics for your home... </p>
                                    <p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="col-md-4 animate-box">
                            <div class="feature-left">
                                <span class="icon">
                                        <img src="../public/images/transportation.png" alt="avatar" class="rounded-circle img-responsive">							</span>
                                </span>
                                <div class="feature-copy">
                                    <h3>Transportation</h3>
                                    <p>When you buy a car, the total cost of the vehicle is going to be more than what’s on the sticker. How much more that car will ...</p>
                                    <p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
                                </div>
                            </div>
    
                        </div>
                        <div class="col-md-4 animate-box">
                            <div class="feature-left">
                                <span class="icon">
                                        <img src="../public/images/suitcase.png" alt="avatar" class="rounded-circle img-responsive">							</span>
                                </span>
                                <div class="feature-copy">
                                    <h3>Luggage</h3>
                                    <p>Whether it’s a suitcase or a backpack, you ask a lot of your luggage. It has to carry your gear from point A to point B...</p>
                                    <p><a href="categories/under-construction">Learn More <i class="fa fa-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
			</div>
		</div>
	</div>