	<div class="fh5co-loader"></div>
	
	<div id="page">
			<% include ./partials/navigation-bar %>
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>Reach Your Savings Goals Faster &amp; Easier</h1>
							<h2>Pay Less; Save More</h2>
							<p><a class="btn btn-primary btn-lg btn-demo" href="/users/login"></i> Login </a> <a href="/users/register" class="btn btn-primary btn-lg btn-learn">Start Saving</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>





