<% include ./partials/navigation-bar %>

<div id="fh5co-wireframe">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Spend less, save more, buy better</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 animate-box">
					<div class="user-frame">
                          
						<p>There are hundreds of apps out there which help to track your spending habits, but they often seem to try and over-simplify a rather complex subject. </p>
                        <p>
                                For most people this kind of information will remain a mere curiosity and do little to help them control their spending. The purpose of this application is to improve upon the existing spending apps.
                                
                        </p>
                        <span>Yahya Emam Tawfiq</span><br>
						<span>Rania AbdelMonem</span><br>
                        <span>Safa Ads</span><br>
                        <small>Smart Piggy 2019</small>
					</div>
				</div>
				<div class="col-md-7 animate-box">
		
					<blockquote>
						<p>One major downfall of current spending apps is that they don't take into account the "cost per lifetime" of items you purchase. If you purchase a new laptop or phone, your entire monthly budget will be "ruined" due to the huge upfront cost. If you could accurately determine the expected lifetime of the product, you could get a much better picture of the actual cost, which would likely be just a dollar or two a day. On the other hand, buying an expensive pair of jeans might seem like a reckless decision, but if they last 5 times longer than a cheap pair and have a lifetime warranty, it's probably a smart purchase as opposed to the cheap ones. Depreciation of purchases spanning multiple financial years is common practice in the business world - could the same idea work with personal finances? Perhaps you can think of e.g. crowdsourced or AI-based tools to better evaluate the true "cost per lifetime" of purchases?
                            </p>
					</blockquote>
					<p>Another common trait we've identified is that spending apps largely rely on your purchase history and don't do much to actually enforce healthier spending habits in the future. Often they have no idea of your spending trends within a month - perhaps you tend to pay your bills near the beginning of the month, which might make the app wrongly project you are going way over your monthly budget. They rarely give you advice on what kind of purchases to avoid to stay within budget, what a good monthly budget would even be based on your stable income, how much you should be saving each month based on your financial environment, and so forth. What are some ways you could improve spending apps to help people better understand their budget, stay within it and put just the right amount of money aside at the end of each month?
                        </p>
				</div>
			</div>
		</div>
	</div>
